# PostgreSQL via Neon (https://neon.tech)
# Gebruik de "pooled connection" string voor DATABASE_URL
# en de "direct connection" string voor DIRECT_URL
DATABASE_URL="postgresql://user:password@ep-xxx.eu-central-1.aws.neon.tech/neondb?sslmode=require&pgbouncer=true"
DIRECT_URL="postgresql://user:password@ep-xxx.eu-central-1.aws.neon.tech/neondb?sslmode=require"
